.logo {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 250px;
    padding: 20px;
    gap: 20px;
}
.left-panel {
    flex: 2;
    background-color: #ffe6f0;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.right-panel {
    flex: 2;
    background-color: #ff50501e;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}    